body {
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #c0babe;
    color: #333;
}

/* Global */

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

button {
    background-color: gray;
    color: white;
}

section {
    padding: 20px;
}

a {
    color: white;
}

/* Header */

header {
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #272a1b;
    width: 100%;
    background-image: linear-gradient(#c677568e, rgba(255, 255, 255, 0.10));
}

header img {
    width: 40px;
}

header a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
    display: inline;
}

header nav {
    float: right;
    margin-top: 10px;
}

header .current a {
    color: #272a1b;
    font-weight: bold;
}

header a:hover, a:visited {
    color: white;
    font-weight: bold;
}


.loginBtn {
    padding: 2px 10px;
    border: 0;
    cursor: pointer;
}

#showcase {
    min-height: 600px;
    background: url('./images/place.jpg') no-repeat center fixed;
    text-align: center;
    background-size: cover;
    border-bottom: #272a1b 3px solid;
}

#showcase h1 {
    margin-top: 300px;
    font-size: 55px;
    margin-bottom: 10px;
}

#showcase p {
    font-size: 20px;
}

/* Boxes */

#boxes {
    min-height: 300px;
    margin-top: 20px;
}

#boxes .box {
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;

}

#boxes .box img {
    width: 75px;
    height: 80px;
}

.container h1 {
    text-align: center;
    font-family: 'ZCOOL KuaiLe', cursive;
}

/* Footer */

footer {
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    border-bottom: #272a1b 1px solid;
    background-image: linear-gradient(rgba(255, 255, 255, 0.10), #c677568e);
}

.icons {
    margin: 15px 23px;
    display: inline;
    padding: 8px;
    cursor: pointer;
}

.icons a {
    color: #272a1b;
    padding: 30px;
    font-size: 30px;
}

.icons a:hover {
    color: white;
}


/* About */

.importantinfo {
    padding: 15px;
    background: #c677568e;
    margin-top: 10px;
    margin-bottom: 10px;
    color:#fff;
    border-radius: 20px;
}

aside#sidebar {
    float: right;
    width: 30%;
    margin-top: 10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea {
    width: 90%;
    padding: 5px;
}

article#main-col{
    float:left;
    width:65%;
}


 /* Slideshow */

.slides{
    overflow: hidden;
    display: flex;
    text-align: center;
}

.navigation{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
.bar{
    width: 50px;
    height: 10px;
    border: 2px solid #fff;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
}
.bar:hover{
    background: #fff;
}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}

.slides{
    width: 500%;
    height: 100%;
    display: flex;
}

.slide{
    width: 20%;
    transition: 0.6s;
}
.slide img{
    width: 70%;
    height: 600px;
}

#r1:checked ~ .s1{
    margin-left: 0;
}
#r2:checked ~ .s1{
    margin-left: -20%;
}
#r3:checked ~ .s1{
    margin-left: -40%;
}
#r4:checked ~ .s1{
    margin-left: -60%;
}
#r5:checked ~ .s1{
    margin-left: -80%;
}

/* Roster */

.rosterphoto {
    min-height: 500px;
    display: flex;
    margin: 70px auto 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.rosterphoto .infobox {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 10px;
    box-sizing: border-box;
    display: inline-block;
}

.rosterphoto .infobox .img-infobox {
    position: relative;
    overflow: hidden;
}

.rosterphoto .infobox .img-infobox img {
    max-width: 100%;
    transition: transform 1s;
    opacity: 1;
    border-radius: 50px;
}

.rosterphoto .infobox:hover .img-infobox img {
    transform: scale(1.2);
    opacity: 0.5;
}

.rosterphoto .infobox .textt {
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    transform: scale(0);
    transition: transform .5s;
}

.rosterphoto .infobox:hover .textt {
    transform: scale(1);
}

.rosterphoto .infobox .textt .content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 15px;
    color: white;
}

.rosterphoto p {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
}

#boxes {
    min-height: 300px;
    margin-top: 20px;
}

.explore a {
    text-decoration: none;
}

.explore {
    background-color: #6315156c;
    border: white solid 1px;
    width: 80px;
    height: 30px;
    border-radius: 50px;
}

.explore:hover {
    background-color: rgba(0, 139, 139, 0.5);
    transition: 0.5s;
}

/* Subscribe */

#newsletter {
    padding: 15px;
    color: #ffffff;
    background: #c677568e;
}

#newsletter h1 {
    float: left;
}

#newsletter form {
    float: right;
    margin-top: 15px;
}

#newsletter input[type="email"] {
    padding: 4px;
    height: 25px;
    width: 250px;
}