@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap');

/* HOME PAGE PHOTO & TEXT */

#showcase {
    min-height: 600px;
    background: url('../images/place.jpg') no-repeat center fixed;  
    background-size: cover;
    border-bottom: #272a1b 3px solid;
    background-origin: border-box ;
}

#showcase h1 {
    font-family: 'Oswald', sans-serif;
    margin-top: 300px;
    font-size: 55px;
    margin-bottom: 10px;
    
}

#showcase p {
    font-size: 20px;
    text-align: center;
}

#boxes {
    min-height: 300px;
    margin-top: 20px;
}

#boxes .box {
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;

}

#boxes .box img {
    width: 90px;
    height: 30%;
}

.container h1 {
    text-align: center;
    font-family: 'ZCOOL KuaiLe', cursive;
}

.lpp {
   color: #f2d9c5;
}

.background-image-text1{
    position: absolute;
    top: 10%;
    left: 0.5%;
}

.background-image-text1 h1 {
    font-size: 60px;
    font-family: 'ZCOOL KuaiLe', cursive;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px black;
}

.background-image-text1 p {
    font-size: 400px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;
    text-shadow: 2px 2px 2px black;
}
 /* DRAG AND DROP */
#div1 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 10px;
    border: 1px solid white;
    margin: 5px;
}

/* LOCAL TIME */
.time{
    color: white;
    background-color: #272a1b;
    border-color:#272a1b;
    width: 95%;
    padding: 7px;
    border-radius:20px;
    outline-offset: 5px;
    outline: 2px dashed white;
    margin: 10px;
}
#time:hover{ 
    transform: rotateY(30deg);
    transition: 1s;
}