@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');

body {
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #c0babe;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#scroll {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: #f2d9c5;
    background-color: #272a1b;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    line-height: 50px;
    text-align: center;
    font-size: 24px;
}

/* GLOBAL */

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.container h1 {
    text-align: center;
    font-family: 'ZCOOL KuaiLe', cursive;
}

ul {
    margin: 0;
    padding: 0;
}

button {
    background-color: gray;
    color: white;
}

section {
    padding: 20px;
}

a {
    color: white;
}

/* OLD HEADER

header {
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #272a1b;
    width: 100%;
    background-image: linear-gradient(#7f4a64, #996e83);
}
 
header img {
    width: 40px;
}

header a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
    display: inline;
}

header nav {
    float: right;
    margin-top: 10px;
}

header .current a {
    color: #272a1b;
    color: rgba(255, 255, 255, 0.838);
    font-weight: bold;
}

header a:hover, a:visited {
    color: white;
    font-weight: bold;
} */

/* RESPONSIVE HEADER */

* {box-sizing: content-box;}

.header {
    text-align: center;
    overflow: hidden;
    background-image: linear-gradient(#c677568e, rgba(255, 255, 255, 0.10));
    padding: 12px 10px;
    padding-top: 20px;
    min-height: 70px;
    border-bottom: #272a1b;
    /* width: 100%; */
    text-transform: uppercase;
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 17px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
}

.header a.logo {
    font-size: 35px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #f2d9c5;
}

.header a.logo:hover {
    color: #272a1b;
    background-color: transparent;
}

.header img {
    float: left;
    width: 55px;
}

.header a:hover {
    background-color: #f2d9c5;
    color: black;
}

.header a.active {
    background-color:  #272a1b;
    color: #f2d9c5;
}

/* #active {
    background-color: #272a1b;
    color: #f2d9c5;
} */

.header-right {
    float: right;
}

#loginBtn {
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }

    .header-right {
        float: none;
    }
}

/* FOOTER */

footer {
    padding: 20px;
    text-align: center;
    border-top: #272a1b 1px solid;
    background-image: linear-gradient(rgba(255, 255, 255, 0.10), #c677568e);
    margin-top: auto;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons a {
    color: #272a1b;
    padding: 15px; 
    font-size: 30px;
    margin: 0 10px;
}

.icons a:hover {
    color: white;
}

@media (max-width: 768px) {
    .icons {
        flex-direction: column;
    }

    .icons a {
        margin: 5px 0;
    }
}

/* PROFILE */

.account {
    display: flex;
    align-items: center;
}