.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#venice-background {
    background-image: linear-gradient(#c677568e, rgba(0, 139, 139, 0.20), #c677568e), url("../images/venice-background.jpg");
    background-origin: border-box ;
    background-attachment: fixed;
    min-height: 650px;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.background-image-text {
    position: absolute;
    top: 30%;
    left: 10%;
}

.background-image-text h1 {
    font-size: 60px;
    font-family: 'ZCOOL KuaiLe', cursive;
    color: #272a1b;
    text-shadow: 2px 2px 2px black;
}

.background-image-text p {
    font-size: 30px;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 5px;
    text-shadow: 2px 2px 2px black;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    margin-top: 20px;
}

.flex-container .venice-text {
    width: 75%;
    margin-left: 25px;
    text-align: left;
    line-height: 25px;
    margin-right: 25px;
}

.flex-container .venice-table-div {
    width: 400px;
    margin-right: 10px;
}


.flex-container .venice-table-div .venice-table {
    width: 100%;
    margin: 10px;
    text-align: center;
}

.venice-table {
    border-collapse: collapse;
    background-color: #c677568e;
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.venice-table td, th {
    border-bottom: solid 5px transparent;
    text-align: left;
    margin: 10px;
    padding: 12px;
}

.venice-table th {
    color: #081C15;
}

.venice-table img {
    width: 100%;
}

.venice-table-div .venice-table th h2 {
    font-family: 'ZCOOL KuaiLe', cursive;
}

.venice-table td:hover, th:hover, tr:hover {
    background-image: linear-gradient(#c677569f, #f3f5ee96);
}

div #text {
    float: right;
    width: 100%;
    margin-top: 10px;
    position: static;
}

#text ol li {
    background-color: #c677568e;
    margin: 5px;
    height: 40px;
    border-radius: 10px;
    background-image: linear-gradient(#c677568e, #272a1b);
}

#text ol a {
    text-decoration: none;
}

#text ol li a:hover, #text ol li:hover {
    font-size: 20px;
    color: #44273b;
    background-image: linear-gradient(to right, #c677568e, #272a1b);
    text-transform: uppercase;
}

.venice-explore h4 {
    color: #081C15;
    text-align: center;
    font-size: 30px;
    font-family: 'ZCOOL KuaiLe', cursive;
    clear: both; 
}

.venice-explore h6 {
    color: #081C15;
    text-align: center;
    font-size: 20px;
    font-family: 'ZCOOL KuaiLe', cursive;
    clear: both;
}

.venice-explore img {
    width: 400px;
    float: right;
    margin: 10px;
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.venice-explore img:hover {
    width: 400px;
    float: right;
    margin: 10px;
    transform: scale(1.1);
    transition: .5s;
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.venice-explore p {
    clear: both;
}

.venice-explore h5 {
    color: #081C15;
    text-align: center;
    font-size: 25px;
    font-family: 'ZCOOL KuaiLe', cursive;
    clear: both;
}

.venice-explore ul li {
    list-style-type: square;
}

.venice-climate-table {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.venice-climate-table td, .venice-climate-table th {
    border: solid 3px transparent;
    padding: 2px;
}

.venice-climate-table td {
    text-align: center;
}

.venice-climate-table th {
    background-image: linear-gradient(gray, rgba(0, 0, 0, 0.3));
}

.first-row td {
    background-image: linear-gradient(orangered, rgba(0, 0, 0, 0.3));
}

.second-row td {
    background-image: linear-gradient(orangered, rgba(0, 0, 0, 0.3));
}

.third-row td {
    background-image: linear-gradient(#f85d1e, rgba(0, 0, 0, 0.3));
}

.fourth-row td {
    background-image: linear-gradient(seagreen, rgba(0, 0, 0, 0.3));
}

.fifth-row td {
    background-image: linear-gradient(cornflowerblue, rgba(0, 0, 0, 0.3));
}

.sixth-row td {
    background-image: linear-gradient(#b7b70d, rgba(0, 0, 0, 0.3));
}

.venice-explore span{
    font-weight: bold;
}

.venice-demographics-table{
    text-align: left;
    border-collapse: collapse;
    margin: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
}

.flex-container-2{
    display: flex;
    width: 90%;
}

.flex-container-2-lists{
    width: 50%;
}

.flex-container-2-table{
    width: 50%;
}

.venice-demographics-table th,.venice-demographics-table td{
    padding: 10px;
    border: 1px black solid;
}

.venice-demographics-table th{
    background-color: #c677568e;
    color: #081C15;
}

.venice-demographics-table-2{
    border-collapse: collapse;
    margin: 20px;
    width: 90%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.venice-demographics-table-2 th{
    color: #081C15;
}

.venice-demographics-table-2 td, .venice-demographics-table-2 th{
    padding: 20px 50px;
    margin: 30px;
    width: 100px;
}

.venice-demographics-table-2 tr:nth-child(even) {
    background-color: #c677568e;
}

.venice-demographics-table-2 tr:hover{
    transform: scale(1.1);
}

.venice-demographics-table-2 caption{
    font-size: 20px;
    margin: 10px;
}

/* MONEY CONVERTER */
/* .amount-converter {
    margin: 25px;
    padding: 25px;
    color: white;
    background-color: #c677568e;
    background-image: linear-gradient(#0000005e, #c677568e, #0000005e);
    overflow: hidden;
    border-radius: 50px;
    float: left;
    position: static;
    width: 400px;
    margin-right: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#convert{
    color: #f7f4f4;
    font-size:17px;
    border-radius: 50px;
    margin: 10px;
    padding: 10px;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
} */